<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>S Fund | <%= title %></title>
		<link href="style25.css" rel="stylesheet" type="text/css">
	</head>
<body>
  <h1> 404 Error</h1>
  <div class="not-found content">
    OOPS, page not found :)
  </div>
</body>
</html>