<html>
	<head>
		<meta charset="UTF-8">
		<title>S Fund | <%= title %></title>
		<link href="style25.css" rel="stylesheet" type="text/css">
	</head>
<body>
	<header>
		<div class="main">
			<ul>
				<li><a href="/" class="btn1">Log Out</a></li>
                <li><a href="current.html" class="btn1">CURRENT</a></li>
			</ul>
		</div>
		<div class="title">
			<h1>Welcome To Your Buy Page</h1>
		</div>
		<div class = "button">
			<a href="/posts" class="btn">MAKE POST</a>
			<a href="hospitaltable.html" class="btn">RELIEF FORUM</a>
		</div>
		</div>
	</header>
<style>
	h1 {text-align: center;}
		body {
			background-color: rgb(203,195, 227);
		}
</style>
</body>
<html>