<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>S Fund | <%= title %></title>
		<link href="/style.css" rel="stylesheet" type="text/css">
	</head>
<body>
    <h1>Welcome. Please Sign In.</h1>
    <div class="login">
    <form id="login">
        <label><b>USERNAME
        </b></label>
            <input type="text" name="USERNAME" id="USERNAME" placeholder="Username" placeholder="Seller24">
        <br><br>
        <label><b>PASSWORD
        </b></label>
            <input type="password" name="PASSWORD" id="PASSWORD" placeholder="Password">
        <br><br>

		<div class = "button">
			<a href="/hospital" class="btn">Login</a>
		</div>


    </form>
    </div>
</body>
</html>