<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Success Page</title>
  <link rel="stylesheet" href="stylesuccesspage.css">
</head>
<body>
  <div class="container">
    <h1>Thank You!</h1>
    <p>Your order has been successfully placed.</p>
    <div class="button">
        <a href="/hospital" class="btn">Return Home</a>
    </div>
  </div>
</body>
<style>
    body {
	     background-color: rgb(203, 195, 227)
	  }
</style>
</html>
