<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>S Fund | <%= title %></title>
  <link rel="stylesheet" href="/stylesuccesspage.css">
</head>
<body>
  <div class="container">
    <h1>Thank You!</h1>
    <p>You have filled out your Discount Form.</p>
    <div class="button">
      <a href="\hospital" class="btn1">Return Home</a>
      <a href="\ENM" class="btn1">View S Fund's Equitable Normalized Marketplace</a>
    </div>
  </div>
</body>
<style>
    body {
	     background-color: rgb(203, 195, 227)
	  }
</style>
</html>
